DXWebAsoc.BusinessLogic/Service References/WCFService/AsocService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MembershipUser">
    <xs:sequence>
      <xs:element name="_Comment" nillable="true" type="xs:string" />
      <xs:element name="_CreationDate" type="xs:dateTime" />
      <xs:element name="_Email" nillable="true" type="xs:string" />
      <xs:element name="_IsApproved" type="xs:boolean" />
      <xs:element name="_IsLockedOut" type="xs:boolean" />
      <xs:element name="_LastActivityDate" type="xs:dateTime" />
      <xs:element name="_LastLockoutDate" type="xs:dateTime" />
      <xs:element name="_LastLoginDate" type="xs:dateTime" />
      <xs:element name="_LastPasswordChangedDate" type="xs:dateTime" />
      <xs:element name="_PasswordQuestion" nillable="true" type="xs:string" />
      <xs:element name="_ProviderName" nillable="true" type="xs:string" />
      <xs:element name="_ProviderUserKey" nillable="true" type="xs:anyType" />
      <xs:element name="_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipUser" nillable="true" type="tns:MembershipUser" />
</xs:schema>