DXWebAsoc.BusinessLogic/Service References/WCFService/AsocService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58932/AsocService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Services" />
  <xs:import schemaLocation="http://localhost:58932/AsocService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DXWebAsoc.Model.Entities" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Services" minOccurs="0" name="user" nillable="true" type="q1:WCFUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Services" minOccurs="0" name="user" nillable="true" type="q2:WCFUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DXWebAsoc.Model.Entities" minOccurs="0" name="user" nillable="true" type="q3:CObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.Services" minOccurs="0" name="ReadUserResult" nillable="true" type="q4:WCFUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.Services" minOccurs="0" name="ReadAllUserResult" nillable="true" type="q5:ArrayOfWCFUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.Services" minOccurs="0" name="id" nillable="true" type="q6:WCFUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>